{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ this_ks.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="Knowledge Oriented Architecture - Proof of concept">
		<meta name="author" content="Davide Galletti - davide@c4k.it">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
		<link rel="shortcut icon" href="favicon.ico">

		<link rel="stylesheet" href="{% static "css/styles.css" %}">
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">{{ this_ks.name }}</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
				    <li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'ks_explorer' %}?ks_complete_url={{ this_ks_base64_url }}">This KS</a></li>
					<li><a href="{% url 'ks_explorer_form' %}">Another KS</a></li>
					<li><a href="{% url 'upload_page' %}">Import XML</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
	                {% block content %}{% endblock %}
	                {% block message %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				ADD DISCLAIMER AND LINK TO THEKOA.ORG
				&copy; Copyright 2015 <a href="http://www.c4k.it" target="_blank">C4K.it</a>
			</div>
		</div>
	</body>
</html>
                