# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/kag/documents/2014/07/10/11_1.xhtml
/kag/documents/2014/07/10/11_2.xhtml
/kag/documents/2014/07/10/11_3.xhtml
/kag/documents/2014/07/10/11_4.xhtml
/kag/documents/2014/07/10/11_5.xhtml
/kag/documents/2014/07/10/11_6.xhtml
/kag/documents/2014/07/10/11_7.xhtml
/kag/documents/2014/07/10/11_8.xhtml
/kag/documents/2014/07/10/11_9.xhtml
/kag/documents/2014/07/10/11.xhtml
/kag/documents/2014/07/18/11.xhtml
/kag.mwb.bak
/kag/.settings/org.eclipse.core.resources.prefs
