{% extends "base.html" %}
{% load custom_tags %}


{% block content %}
    <div class="row-fluid">
    	<h3>Browsing: </h3>
    	{% ks_info external_ks %}
    	<p>Name: <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}/" target="_blank">{{ external_ks.name }}</a><br>
    	Organization: <a href="{{ organization.website }}" target="_blank">{{ organization.name }}</a></p>
        <h4>The data structure</h4>
         <p><strong>{{ es_info_json.Export.EntityStructure.name }}</strong> <br>
         <i>{{ es_info_json.Export.EntityStructure.description }}</i></p>
        {% if entities %}
	        <h4>has the following data sets:</h4> 
	        <ul>
	        {% for entity in entities %}
	            <li>
	                {% if external_ks.scheme != this_ks.scheme or external_ks.netloc != this_ks.netloc %}
	                	{% if entity.subscribed %}
	                		<a href="{% url 'this_ks_unsubscribes_to' entity.base64URIInstance %}">Unsubscribe</a>&nbsp;
	                	{% else %}
	                		<a href="{% url 'this_ks_subscribes_to' entity.base64URIInstance %}">Subscribe</a>&nbsp;
	                	{% endif %}
	                {% endif %}
	                <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}{% url 'api_entity_instance_info' entity.base64URIInstance "html" %}">{{ entity.actual_instance_name }}</a>
	                <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}{% url 'api_export_instance' entity.base64URIInstance "json" %}">json</a>
	                <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}{% url 'api_export_instance' entity.base64URIInstance "xml" %}">xml</a>
	                
	            </li>
	        {% endfor %}
	        </ul>
        {% else %}
        	<h4>has no data sets of this type.</h4>
        {% endif %}
    </div>

{% endblock %}