{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
    	<h3>Browsing an external Knowledge Server: </h3>
    	<p>Name: <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}/" target="_blank">{{ external_ks.name }}</a><br>
    	Organization: <a href="{{ organization.website }}" target="_blank">{{ organization.name }}</a></p>
        <h4>The data structure {{  }} has the following instances: </h4>
        <ul>
        {% for entity in entities %}
            <li>
                {{ entity.actual_instance_name }} {{ entity.URIInstance }}
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}