{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h3>Welcome to <strong>{{ this_ks.name }}</strong></h3>
    <h4>{{ this_ks.description }}</h4>
    <h4>Provided by <strong><a href="{{ this_ks.organization.website }}" target="_blank">{{ this_ks.organization.name }}</a></strong></h4>
	<h2>Disclaimer</h2>
	<p>This web site is solely for test purposes; information provided is taken from sources that make it available with <a href="http://opendefinition.org/licenses/" target="_blank">opendefinition.org conformant licenses</a>. If you think that part of this information should not be provided here or that any information is somehow misleading please <a href="http://www.thekoa.org/?q=contact" target="_blank">contact us</a>.</p>
{% endblock %}
{% block message %}
{{ message }}
{% endblock %}
