{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
    	<h3>Browsing an external Knowledge Server: </h3>
    	<p>Name: <a href="{{ external_ks.scheme }}://{{ external_ks.netloc }}/" target="_blank">{{ external_ks.name }}</a><br>
    	Organization: <a href="{{ organization.website }}" target="_blank">{{ organization.name }}</a></p>
        <h4>It contains instances of the following data structures (click to list the instances): </h4>
        <ul>
        {% for entity in entities %}
            <li>
                <a href="{% url 'browse_entity_instance' ks_url entity.URIInstance "browse" %}">{{ entity.actual_instance_name }}</a> ( <a href="{% url 'browse_entity_instance' ks_url entity.URIInstance "xml" %}">XML</a> | <a href="{% url 'browse_entity_instance' ks_url entity.URIInstance "json" %}">JSON</a> )
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}