<HTML>
  <HEAD>
    <TITLE>Knowledge Oriented Architecture - Proof of concept</TITLE>
  </HEAD>
  <BODY>
    <h2>Home page</h2>
    <h3>Instructions</h3>
    After syncdb go to the <A href="{% url 'upload_page' %}">Upload page</A> to import:
    <UL>
      <LI>2015-04-01 05:28 SimpleEntity-Application new complete exported.xhtml</LI>
      <LI>2015-04-01 05:53 Tracker SimpleEntity-application new.xhtml</LI>
    </UL>
    Then run the script in filldata.py<BR/>
    Authenticate with user <A href="http://127.0.0.1:8000/application/klogin/davide/davide/">Davide</A> or <A href="http://127.0.0.1:8000/application/klogin/sara/sara/">Sara</A><BR/>
    <A href="{% url 'index' %}">List of simple entities</A><BR/>
    <A href="{% url 'detail' 1 %}">An application</A><BR/>
  </BODY>
</HTML>
