<HTML>
  <HEAD>
    <TITLE>Knowledge Oriented Architecture - Proof of concept</TITLE>
  </HEAD>
  <BODY>
    <h2>Home page</h2>
    <h3>Instructions</h3>
    This is an instance of a root KS<BR/> 
    To prepare a specific KS instance go to the <A href="{% url 'upload_page' %}">Upload page</A> and:
    <UL>
      <LI>
        <h3>interno.gov.it KS for <a target="_blank" href="http://redmine.davide.galletti.name/projects/prototipo/wiki/Italian_provinces?parent=Scenarios">"Italian provinces" scenario</a></h3>
        <UL>
            TO BE DONE:
          <LI>
            Il KS owner dei model è l'ONU; definisce continenti, paesi, regioni, ... e loro relazioni
            Il KS del mininterno prende le definizioni da KS_ONU; ha degli script di inserimento
            dei dati versione 96 e versione 110 
            APPLICATIONS TO ACTIVATE:
            SAMPLE APPLICATION USING LIST OF PROVINCES; che applicazione facciamo?
                Usa la lista di province; nella prima versione viene gestita la ri-associazione di
                dati esistenti a province che scompaiono nel passaggio? Bello sarebbe l'esempio in cui 
                ci sono anche i comuni e l'upgrade 96->110 viene automaticamente se è indicato il comune.
                In pratica la nuova versione ha tra gli attributi qualcosa (script?) che indica
                come cambia l'associazione di un'entità da una provincia96 a una provincia110 (però 
                l'esempio non è troppo significativo in quanto se abbiamo anche il comune la provincia
                è una dipendenza funzionale e quindi non in forma normale!!!). Una parte si può fare automaticamente:
                (**) metadati della nuova versione ci dice che le province con lo stesso ID sono le stesse e 
                per quelle che non esistono più da un set di candidati (e.g. una condizione di una query).
                La UI marca come invalidi i dati da completare e un campo vecchia_foreign_key ci dice la
                vecchia associazione e i metadati ci dicono tra quali si può scegliere. Il campo vecchia_foreign_key
                si potrà eliminare una volta corretti tutti i dati.
                Dobbiamo gestire un meccanismo di supporto alla correzione dei dati ed un meccanismo di 
                supporto alle query.
                Correzione dei dati (e.g. ho un'associazione a p96 e non ce l'ho a p110):
                    vedi sopra (**)
                Query:
                    Non ho idee; se ci sono dei dati invalidi i risultati saranno comunque parziali (es: dati di 
                    vendita farmaceutici; faccio un report, ottengo un totale delle province inferiore al
                    totale Italia)
                Un esempio più semplice nel contesto delle province 
          </LI>
          <LI>
            FILES TO IMPORT AND / OR SCRIPTS TO RUN
            XML file(s) with entities relative to the "provinces application"
          </LI>
        </UL>
      </LI>
      <LI>
        <h3>finanze.it KS for <a target="_blank" href="http://redmine.davide.galletti.name/projects/prototipo/wiki/Italian_invoice?parent=Scenarios">"Italian invoice" scenario</a></h3>
        <UL>
            TO BE DONE:
          <LI>
            APPLICATIONS TO ACTIVATE
          </LI>
          <LI>
            FILES TO IMPORT AND / OR SCRIPTS TO RUN
          </LI>
        </UL>
      </LI>
      <LI>
        <h3>btr.thekoa.org KS for <a target="_blank" href="http://redmine.davide.galletti.name/projects/prototipo/wiki/Facebook?parent=Scenarios">"Facebook" scenario</a></h3>
        <UL>
            TO BE DONE:
          <LI>
            APPLICATIONS TO ACTIVATE
          </LI>
          <LI>
            FILES TO IMPORT AND / OR SCRIPTS TO RUN
          </LI>
        </UL>
      </LI>
    </UL>
    Then run the script in filldata.py<BR/>
    Authenticate with user <A href="http://127.0.0.1:8000/application/klogin/davide/davide/">Davide</A> or <A href="http://127.0.0.1:8000/application/klogin/sara/sara/">Sara</A><BR/>
    <A href="{% url 'index' %}">List of simple entities</A><BR/>
    <A href="{% url 'detail' 1 %}">An application</A><BR/>
  </BODY>
</HTML>
