{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>Import Entities</h2>
    <p>You have uploaded the file "<strong>{{ file }}</strong>"</p>
    <h3>In the file you have uploaded:</h3>
        <p>The main entity is a "<strong>{{ actual_class_name }}</strong>"; it's ID is <strong>{{ entity_id }}</strong></p>
        {% if entity_name %}
        <p>It's name is "{{ entity_name }}"</p>
        {% endif %}
        {% if entity_description %}
        <p>It's description is "{{ entity_description }}"</p>
        {% endif %}
    <h3>Searching on the database for "<strong>{{ actual_class_name }}</strong>" with the same ID, I have found:</h3>
        {% if entity_on_db %}
            <p>An entity with</p>
            {% if entity_on_db_name %}
            <p> name "{{ entity_on_db_name }}"</p>
            {% endif %}
            {% if entity_on_db_description %}
            <p> description "{{ entity_on_db_description }}"</p>
            {% endif %}
        {% else %}
        <p>Nothing with the same ID.</p>
        {% endif %}
    <hr>
    <form action="{% url 'perform_import' %}" method="post">{% csrf_token %}
        {{ import_choice_form.as_p }}
    <p>
        <input type="submit" value="Import file now">
    </p>
    </form>    <PRE>
    
        file {{ file }}
        new_uploaded_file.id {{ new_uploaded_file.id }}
        new_uploaded_file.docfile.url {{ new_uploaded_file.docfile.url }}
        new_uploaded_file.docfile.name {{ new_uploaded_file.docfile.name }}
        {{ methodology_version_on_file.id }}
        
        {{ analysis_on_file.id }}
        {{ analysis_on_file.name }}
    
    
    
{{ prettyxml }}
    </PRE>
{% endblock %}
