{% if instance_list %}
    <ul>
    {% for instance in instance_list %}
        <li>
            {% if instance.entity_instance.name == 'SimpleEntity' %}
                <a href="{% url 'entity_index' instance.id %}">{{ instance.get_name }}</a>
            {% else %}
                {{ instance.get_name }}
            {% endif %}
            <br>
            {% for entity_tree in instance.entity_trees %}
                <a href="{% url 'export' entity_tree.id instance.id instance.entity_instance.id %}">Export {{ entity_tree.name }}</a>
            {% endfor %}
            <br>
            {% if instance.entity_instance.name == 'EntityTree' %}
                <a href="{% url 'export_stub' instance.id %}">Export a stub</a>
            {% endif %}
            {% if instance.entity_instance.name == 'Entity' %}
                <a href="{% url 'entity_tree_stub' instance.id %}">Export a stub of an EntityTree</a>
            {% endif %}

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entities are available.</p>
{% endif %}
