{% if instance_list %}
    <h2>{{ class_name }}</h2>
    <ul>
    {% for instance in instance_list %}
        <li>
            {% if instance.get_simple_entity.name == 'SimpleEntity' %}
                <a href="{% url 'entity_index' instance.id %}">{{ instance.name }}</a>
            {% else %}
                {% if instance.get_simple_entity.name == 'Application' %}
                <a href="{% url 'detail' instance.id %}">{{ instance.name }}</a>
                {% else %}
                    {{ instance.name }}
                {% endif %}
            {% endif %}
            <br>
            {% for entity in instance.entities %}
                <a href="{% url 'export' entity.id instance.id instance.get_simple_entity.id %}">Export {{ entity.name }}</a>
            {% endfor %}
            <br>
            {% if instance.get_simple_entity.name == 'Entity' %}
                <a href="{% url 'export_stub' instance.id %}">Export a stub</a>
            {% endif %}
            {% if instance.get_simple_entity.name == 'SimpleEntity' %}
                <a href="{% url 'entity_stub' instance.id %}">Export an Entity stub of this SimpleEntity based on Django model</a>
            {% endif %}

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entities are available.</p>
{% endif %}
